{% extends "_layout.html" %}
{% block content %}
<form action="{{url_for('users.edit_email_form')}}" method="POST">
    <h1>Edit Details</h1>
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" placeholder="New Email" aria-label="New Email" aria-describedby="basic-addon1" name="new_email">
    </div>
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">#</span>
        </div>
        <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" name="check_password">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">#</span>
        </div>
        <input type="password" class="form-control" placeholder="Retype Password" aria-label="Password" aria-describedby="basic-addon1" name="check_retype_password">
    </div>

    <button type="submit" class="btn btn-primary" style="border-radius: 15px;">Submit</button>
</form>

{% endblock %}

