{% extends "_layout.html" %}
{% block content %}
<style>

  #parent{
    display: flex; 
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Patrick Hand; 
  }
  #basic-addon1 {
    width: 40px;
    color: #fffbd5;
    background-color: #b20a2c;
  }

  .form-control {
      max-width: 300px;
  }

  #form {
    padding: 50px 50px 100px 50px;
    border-style: solid;
    width: 400px;
    border-radius: 50px;
    color: #b20a2c
  }

  .btn {
    background-color: #b20a2c;
    color: #fffbd5;
    border: none;
  }

  .btn:hover {
    font-weight:bold;
    background-color: rgb(184, 38, 38);
    border-radius: 20px;
  }


</style>

<br>
<div id = "parent">
<form action="{{url_for('users.edit_form')}}" method="POST" id = "form">
    <div id="child1">
    <h1>Update Username</h1>
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">id</span>
        </div>
        <input type="text" class="form-control" placeholder="New Username" aria-label="New Username" aria-describedby="basic-addon1" name="new_username">
    </div>
  </div>

  <div id = "child2">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">#</span>
        </div>
        <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" name="check_password">
    </div>
  </div>

  <div id = "child3">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">#</span>
        </div>
        <input type="password" class="form-control" placeholder="Retype Password" aria-label="Password" aria-describedby="basic-addon1" name="check_retype_password">
    </div>
  </div>

  <div id = "child4">
    <button type="submit" class="btn btn-primary" style="border-radius: 15px;">Submit</button>
  </div>
</form>
</div>
{% endblock %}

