{% extends "_layout.html" %}
{% block content %}
<style> 

.btn {
    color:  #fffbd5;
    background-color: #b20a2c;
    border: none; 
    border-radius: 15px;
    width: 100px;
    height:40px;
}

  .btn:hover {
    font-weight:bold;
    font-size: 20px;
    background-color: rgb(184, 38, 38);
    border-radius: 20px;
  }

  table {
      display: table;
      table-layout: fixed;
      border-collapse: collapse;
      width: 100%;
      border-spacing: 2px;
      font-family: Patrick Hand;
      text-align: center;
  }




</style>
     <div id = "row"></div>
        <table>
        <tr>
            <th>Username</th>
            <th></th>
        </tr>
        {% for profile in following_arr %}
                <tr>   
                    <td>{{profile.profile.username}}</td>
                 
                    <td style='white-space: nowrap;'>
                    {% if profile.status %}
                        <form style = "display: inline-block; width: 150px;" action="{{url_for('users.unfollow', username = profile.profile.username)}}" method = "POST">
                            <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                            <button type="submit" class="btn btn-primary" style = "background-color: darkred;">Unfollow</button>
                        </form>
                    {% else %}
                        <form style = "display: inline-block; width: 150px;" action="{{url_for('users.follow', username = profile.profile.username)}}" method = "POST">
                            <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                            <button type="submit" class="btn btn-primary" >Follow</button>
                        </form>
                    
                    {% endif %}
                  
                        <form style = "display: inline-block; width: 150px;" action="{{url_for('users.show', username = profile.profile.username)}}">
                            <button type="submit" class="btn btn-primary" >Visit</button>
                        </form>
                    </td>
                </tr>
        {% endfor %}     
        </table>
    </div>
        


{#% for user in users %}
    <div id = "row">
    {{user.username}}
    <form action="{{url_for('users.show', username = user.username)}}">
        <button type="submit" class="btn btn-primary" style="border-radius: 15px;">Visit</button>
    </form>
    </div>
{% endfor %#}
</div>
{% endblock %}