{% extends "_layout.html" %}

{% block title %}
{{username}}
{% endblock %}

{% block content %}
<style>
#profile_pic {
  display: inline-block;
  width: 200px;
  height: 200px; 
  border-radius: 50%;
  overflow: hidden;
}

#profile_id {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-family: Patrick Hand;
}

#images {
  
  display: flex;
  justify-content: flex-start;
  text-align: center;
  flex-wrap: wrap;
}

img {
  border-style: solid;
  border-color: #b20a2c;
  border-width: 5px;
  height: 200px;
  margin: 10px 10px 5px 5px; 
}

#detail_child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
        color:  #fffbd5;
        background-color: #b20a2c;
        border: none; 
      }

  .btn:hover {
    font-weight:bold;
    font-size: 20px;
    background-color: rgb(184, 38, 38);
    border-radius: 20px;
  }
</style>
<div id = "profile_id">
{% if current_user.is_authenticated %}
    <div id="profile_img">
    {% if user.profile_pic %}
    <img id = "profile_pic" src = "{{user.image_path}}">
    {% else %}
    <img id = "profile_pic" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo_HDyoYqHSQ5jx4uhfKVv86BKFo6ZBTyRxYAYdu3J8DHb_t6g&s">
    {% endif %}
    </div>
    <div id="detail_child">
      <h1>{{user.username}}'s</h1>
    {% if not is_current_user_following and user.security and not current_user.username == user.username %}
      <t> This user is private! </t>
    {% if pending %}
      <button type="disabled" class="btn btn-primary" style="border-radius: 15px;">Pending</button>
    {% elif is_current_user_following %}
      <form action="{{url_for('users.unfollow', username = user.username)}}" method = "POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button type="submit" class="btn btn-primary" style="border-radius: 15px;">Unfollow</button>
      </form>
    {% else %}
      <form action="{{url_for('users.follow', username = user.username)}}" method = "POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button type="submit" class="btn btn-primary" style="border-radius: 15px;">Follow</button>
      </form>
    {% endif %}
    {% else %}
    Hi {{user.username}}
    {% if current_user.username == user.username %}
    {% elif is_current_user_following %}
      <form action="{{url_for('users.unfollow', username = user.username)}}" method = "POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button type="submit" class="btn btn-primary" style="border-radius: 15px;">Unfollow</button>
      </form>
    {% else %}
      <form action="{{url_for('users.follow', username = user.username)}}" method = "POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button type="submit" class="btn btn-primary" style="border-radius: 15px;">Follow</button>
      </form>
    {% endif %}
    </div>
</div>
<br>
<div id = "images">
      {% for image in image %}
      <div style="display: flex; flex-direction: column;"> 
      <img src = "{{image.image_path}}">
      {% if current_user.username == user.username %}
      <form  style="justify-content: left; text-align: left;" action="{{url_for('users.delete_image', img_id = image.id)}}" method = "POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button type="submit" class="btn btn-primary" style="border-radius: 50%">x</button>
      </form>
      </div>
      {%else%}
      <form action="{{url_for('payment.payment', img_id = image.id)}}">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button type="submit" class="btn btn-primary" style="border-radius: 15px;">Donate</button>
      </form>
      </div>
      {% endif %}
      {% endfor %}
</div>

    {%endif%}
<br />
{% else %}
<h1>You're currently not logged in!</h1>
<a href="http://localhost:5000/sessions/login">Login here!</a>
{% endif %}

{#{%endif%}#}
{% endblock %}