{% extends "_layout.html" %}

{% block title %}
{{username}}
{% endblock %}

{% block content %}
<style>
#profile_pic {
  display: inline-block;
  width: 200px;
  height: 200px; 
  border-radius: 50%;
  overflow: hidden;
}

#profile_id {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-family: Patrick Hand;
}

#images {
  
  display: flex;
  justify-content: flex-start;
  text-align: center;
  flex-wrap: wrap;
}

img {
  border-style: solid;
  border-color: #b20a2c;
  border-width: 5px;
  height: 200px;
  margin: 10px 10px 5px 5px; 
}

#detail_child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
        color:  #fffbd5;
        background-color: #b20a2c;
        border: none; 
      }

  .btn:hover {
    font-weight:bold;
    font-size: 20px;
    background-color: rgb(184, 38, 38);
    border-radius: 20px;
  }

  table {
    margin: 10px 10px 10px 10px;
  }

  th {
    padding: 10px 50px 10px 50px;
  }

  #x {
    position: absolute;
    right: 0;
  }
</style>
<div id = "profile_id">
{% if current_user.is_authenticated %}
    <div id="profile_img">
    <img id = "profile_pic" src = "{{user.image_path}}">
    </div>
    <div id="detail_child">
      <h1>{{user.username}}'s</h1>
    {% if not is_current_user_following and user.security and not current_user.username == user.username %}
      <t> This user is private! </t>
    
    {% if pending %}
      <button type="disabled" class="btn btn-primary" style="border-radius: 15px;">Pending</button>
    </div>
    {% elif is_current_user_following %}
      <form action="{{url_for('users.unfollow', username = user.username)}}" method = "POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button type="submit" class="btn btn-primary" style="border-radius: 15px;">Unfollow</button>
      </form>
    </div>
    {% else %}
      <form action="{{url_for('users.follow', username = user.username)}}" method = "POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button type="submit" class="btn btn-primary" style="border-radius: 15px;">Follow</button>
      </form>
    </div>
    {% endif %}
  </div>
    {% else %}
    {{user.description}}
    <table>
      <tr>
        <th><a style="color: #b20a2c" href="{{url_for('users.following_list', username=user.username)}}">Following</a></th>
        <th><a style="color: #b20a2c" href="{{url_for('users.follower_list', username=user.username)}}">Followers</a></th>
      </tr>

      <tr>
        <td>{{followed_count}}</td>
        <td>{{follower_count}}</td>
      </tr>

    </table>
    {% if current_user.username == user.username %}
    {% elif is_current_user_following %}
      <form action="{{url_for('users.unfollow', username = user.username)}}" method = "POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button type="submit" class="btn btn-primary" style="border-radius: 15px;">Unfollow</button>
      </form>
    {% else %}
      <form action="{{url_for('users.follow', username = user.username)}}" method = "POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button type="submit" class="btn btn-primary" style="border-radius: 15px;">Follow</button>
      </form>
    {% endif %}
    </div>
</div>
<br>
<div id = "images">
      {% for image in image %}
      <div style="position: relative; display: flex; flex-direction: column;"> 
      <img src = "{{image.image_path}}">
      <span style="color: #b20a2c;">Made: ${{image.count()}}</span>
      <span style="color: #b20a2c;">Posted at: {{image.created_at.strftime('%b %d %Y')}}</span>
      {% if current_user.username == user.username %}
        <div id="x">
          <form action="{{url_for('users.delete_image', img_id = image.id)}}" method = "POST">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button type="submit" class="btn btn-primary" style=" border-radius: 100%">x</button>
          </form>
        </div>
      </div>
      {%else%}
      <form action="{{url_for('payment.payment', img_id = image.id)}}">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button type="submit" class="btn btn-primary" style="border-radius: 15px;">Donate</button>
      </form>
      </div>
      {% endif %}
      {% endfor %}
</div>

    {%endif%}
<br />
{% else %}
<h1>You're currently not logged in!</h1>
<a href="http://localhost:5000/sessions/login">Login here!</a>
{% endif %}

{#{%endif%}#}
{% endblock %}