{% extends "_layout.html" %}


{% block title %}
Home
{% endblock %}

{% block content %}
<style>
  img {
    border-style: solid;
    border-color: #b20a2c;
    border-width: 5px;
    width:200px;
    height: 200px;
    margin: 10px 5px 10px 5px;
  }

  #profile_pic {
  display: inline-block;
  width: 50px;
  height: 50px; 
  border-radius: 50%;
  overflow: hidden;
}

  #user {
    font-family: Patrick Hand;
    border-style: solid;
    border-left: hidden;
    border-right: hidden;
    border-bottom: hidden;
  }

  #user {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }

  #profile {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100px;
  }
  
  #content {
    display: flex;
    flex-wrap: wrap;
  }

  #child3 {
    align-self: center;
  }


</style>
  <h2 style="font-family: Patrick Hand">Homepage</h2>  

{% for user in user_arr %}
  <div id = "user"> 
    <div id = "profile">
    {% if user.profile_pic %}
    <img id = "profile_pic" src = "{{user.image_path}}">
    {% else %}
    <img id = "profile_pic" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo_HDyoYqHSQ5jx4uhfKVv86BKFo6ZBTyRxYAYdu3J8DHb_t6g&s">
    {% endif %}
    
    <a style="display:inline-block; align-items: center;" href="http://localhost:5000/users/{{user.username}}">{{user.username}} </a>
    </div>

    
    {% if user.image %}
    <div id = "content">
      {% for image in user.image %}
        <img id="images" src = "{{image.image_path}}">
      {% endfor %}

 
    </div>
    {% else %}
    <div id= "child3">
      <span style="display: inline-block;">This user has not uploaded any photos!</span>
    </div>

    {% endif %}
  </div>
{% endfor %}



{% endblock %}